body {
	font-family: 'Philosopher', sans-serif;
	background: #1d1f20;
	color: #fff;
}
.narrow-layout {
	width: 50%;
	margin: 0 auto;
}
.narrow-layout__title {}
.narrow-layout__text {}
.narrow-layout__list {}
.narrow-layout__item {}
.narrow-layout__link {
	color: #ed5c23;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
.narrow-layout__link:hover {
	opacity: .7;
}
.narrow-layout__link:active {
	opacity: 1;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
h1 {
	font-weight: 300;
}
* {
	box-sizing: border-box;
}
.layout {
	padding: 20px;
}
.layout__aside {
	width: 30%;
	float: left;
}
.layout__content {
	width: 70%;
	float: left;
}
.layout__title {
	font-weight: 300;
	padding-right: 100px;
}
.layout__text {
	padding-right: 20px;
}
.layout__text .layout__link {
	line-height: 1;
}
.layout__link {
	color: #ed5c23;
	font-size: 16px;
	line-height: 37px;
	vertical-align: middle;
	text-decoration: none;
}
.layout__link_back {
	position: absolute;
	top: 40px;
	right: 30px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


@media (max-width: 960px) {
	.layout__aside {
		width: 100%;
	}
	.layout__content {
		width: 100%;
	}
}
